<!-- Blog posts section -->
<section class="section">
  <% @posts_by_year.keys.each do |year| %>
    <div class="title is-4"><%= year %></div>
    <div class="columns is-multiline is-vcentered">
      <% @posts_by_year[year].each do |post| %>
        <div class="column is-one-third">
          <%= link_to post_path(handle: post.handle), class: 'my-link' do %>
            <div class="card card-hover">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4"><%= post.title %></p>
                  <p class="subtitle is-6"><%= post.created_at.strftime("%B %d, %Y") %></p>
                  <p><%= truncate(post.description, length: 120) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
