<!DOCTYPE html>
<html>
  <head>
    <title>Logan Gunn - blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    >
    <%= javascript_importmap_tags %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    >

    <style>
      .card-hover {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
      }

      .card-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      }

      .tag-clickable {
        cursor: pointer;
        transition: opacity 0.3s ease;
      }

      .tag-clickable:hover {
        opacity: 0.7;
      }
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="/logo192.png">
  </head>

  <body>
    <section class="hero is-light">
      <%= render "shared/header" %>
    </section>
    <%= yield %>

  </body>
</html>
